@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1f1f1f;
  --secondary: #3D7EAA;
}

/* --secondary: linear-gradient(to bottom right, #f0c27b, #4b1248) */


h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #FFF;
  font-family: 'Poppins';
  background: #121212;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
  margin: 1.5rem 0;
}

nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}

nav h1 {
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.cocktail-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media only screen and (max-width: 1200px) {
  .cocktail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cocktail-grid {
    grid-template-columns: 1fr;
  }
}

.cocktail-card {
  width: 100%;
  padding: 10px;
  background: #1e1e1e;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.cocktail-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

/* .cocktail-card-img {
  height: 300px;
} */

form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}

form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.cocktail-card .buttons {
  text-align: right;
}

.cocktail-card i {
  color: #000;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: linear-gradient(to bottom right, #3D7EAA, #FFE47A);
  /* linear-gradient(to bottom right, #FEDB37 0%, #FDB931 33%, #9f7928 66%, #8A6E2F 100%); */
  border-radius: 25%;
  cursor: pointer;
}

.order-by button {
  margin-right: 10px;
  background: #3D7EAA;
  /* linear-gradient(to bottom right, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
  color: #FFF;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}