@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1f1f1f;
  --secondary: #3d7eaa;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Poppins';
  background: #121212;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 0.4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

img.nav-logo {
  height: 8rem;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.nav-link {
  margin: 1rem;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 0 auto 1.2rem auto;
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.order-by {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5rem;
}

.order-by p {
  margin-top: 0;
  padding-top: 0;
}

.select-order {
  appearance: none;
  font-size: 1rem;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #1e1e1e;
  border-radius: 0.3rem;
  text-align: center;
}

.cocktail-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .cocktail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cocktail-grid {
    grid-template-columns: 1fr;
  }
}

.cocktail-card {
  width: 100%;
  padding: 0.6rem;
  background: #1e1e1e;
  box-sizing: border-box;
  border-radius: 0.4rem;
  position: relative;
}

.cocktail-card:hover {
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
}

.cocktail-card .rating {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 0;
  padding: 1.2rem 0;
  line-height: 0px;
  text-align: center;
}

form {
  background: #1e1e1e;
  color: #fff;
  padding: 1.2rem;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 0.4rem;
}

form input,
form textarea {
  background-color: #e8f0fe;
  display: block;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #7f7f7f;
  border-radius: 0.4rem;
  margin: 0.6rem 0 1.2rem 0;
}

form button {
  background: #018786;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.4rem 8px;
  font-family: 'Poppins';
  cursor: pointer;
}

.cocktail-card .buttons {
  text-align: right;
}

.cocktail-card i,
.modal-button {
  color: #000;
  margin-left: 0.6rem;
  font-size: 1.2em;
  padding: 0.4rem;
  background: linear-gradient(to bottom right, #3d7eaa, #ffe47a);
  border-radius: 25%;
  cursor: pointer;
}
.modal-buttons {
  margin: auto 0 0 auto;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container {
  width: 80%;
  height: 70%;
  min-height: 450px;
  position: fixed;
  background: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media only screen and (min-width: 500px) {
  .modal-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .modal-container {
    width: 40%;
  }
}

@media only screen and (min-width: 1500px) {
  .modal-container {
    width: 30%;
  }
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 0;
  padding: 1.2rem 0;
  line-height: 0px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  cursor: pointer;
}

.modal-header {
  display: flex;
  padding: 1rem 0.5rem 0.5rem 0;
}

.modal-rating {
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 0;
  padding: 1.2rem 0;
  line-height: 0px;
  text-align: center;
  margin-left: auto;
}
