@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1f1f1f;
  --secondary: #3d7eaa;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Poppins';
  background: #121212;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 0.4rem;
}

nav {
  background: var(--primary);
  padding: 0.6rem 1.2rem;
  text-align: center;
  margin: 1.5rem 0;
}

nav a {
  color: #f2f2f2;
  margin: 0.6rem;
  display: inline-block;
}

nav h1 {
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 1.2rem;
}

.cocktail-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .cocktail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cocktail-grid {
    grid-template-columns: 1fr;
  }
}

.cocktail-card {
  width: 100%;
  padding: 0.6rem;
  background: #1e1e1e;
  box-sizing: border-box;
  border-radius: 0.4rem;
  position: relative;
}

.cocktail-card:hover {
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
}

.cocktail-card .rating {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 0;
  padding: 1.2rem 0;
  line-height: 0px;
  text-align: center;
}

form {
  background: #1e1e1e;
  color: #fff;
  padding: 1.2rem;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 0.4rem;
}

form input,
form textarea {
  background-color: #e8f0fe;
  display: block;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #7f7f7f;
  border-radius: 0.4rem;
  margin: 0.6rem 0 1.2rem 0;
}

form button {
  background: #018786;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.4rem 8px;
  font-family: 'Poppins';
  cursor: pointer;
}

.cocktail-card .buttons {
  text-align: right;
}

.cocktail-card i {
  color: #000;
  margin-left: 0.6rem;
  font-size: 1.2em;
  padding: 0.4rem;
  background: linear-gradient(to bottom right, #3d7eaa, #ffe47a);
  border-radius: 25%;
  cursor: pointer;
}

.order-by button {
  margin-right: 0.6rem;
  background: #3d7eaa;
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 0.4rem;
  font-family: 'Poppins';
  cursor: pointer;
}
